.eb-terms {
  position: relative;
  top: 80px;
  font-family: sans-serif;
}

.eb-terms h1,
  .eb-terms h2,
  .eb-terms h3 {
  font-family: sans-serif;
}

.eb-terms p {
  margin: 0;
  color: #666;
  padding-bottom: var(--size-4);
}

.eb-terms .eb-terms__banner {
  padding-top: var(--section-spacing);
  padding-bottom: var(--size-18);
  background-image: linear-gradient(135deg, #2b87da 0%, #29c4a9 100%) !important;
}

@media (max-width: 980px) {
  .eb-terms .eb-terms__banner {
    padding: var(--size-22) 0;
  }
}

.eb-terms .eb-terms__banner h1 {
  font-weight: var(--font-bold);
  font-size: var(--text-7xl);
  color: #ffffff !important;
}

@media (max-width: 767px) {
  .eb-terms .eb-terms__banner h1 {
    font-size: var(--text-5xl);
  }
}

.eb-terms .eb-terms__content {
  padding-top: var(--size-25);
  padding-bottom: var(--size-28);
  text-align: left;
}

.eb-terms .eb-terms__content .eb-article__title h1 {
  font-size: var(--text-3xl);
  color: #333;
  font-weight: var(--font-thin);
}

.eb-terms .eb-terms__content .eb-article__title p {
  padding-bottom: 1em;
}

.eb-terms .eb-terms__content .eb-article__subhead h3 {
  font-size: var(--text-2xl);
  color: #666;
  font-weight: var(--font-thin);
  margin-bottom: var(--size-2);
}
